<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <settings>
      <!-- The character used to delimit the columns of the output file. --> 
      <setting name="WFFM.SQLServer.SaveToDatabase.CsvDelimiter" value=";" />
      
      <!-- Enables export options. User can specify a date range. Otherwise export occurs automatically. (true/false) -->
      <setting name="WFFM.SQLServer.SaveToDatabase.ExportOptions" value="true" />
    </settings>
    
    <commands>
      <command name="forms:exportformdata" type="WFFM.SQLServer.SaveToDatabase.Infrastructure.Commands.ExportFormDataCommand, WFFM.SQLServer.SaveToDatabase" />
    </commands>
    
  </sitecore>
</configuration>